#header {
  position: relative;
  border-bottom: 1px solid black;
}

#auth {
  position: absolute;
  right: 0;
  top: 0;
}

.foo {
  .bar {
    color: orange;
    font-size: 2em;
  }
}

#footer {
  position: fixed;
  bottom: -240px;
  -webkit-transition: bottom 0.2s ease-out;
  right: 0;
  left: 0;
  z-index: 100;
  height: 300px;
  background-color: rgba(180,180,180,0.9);
  color:#333;
  .tabs {
    height: 60px;
    border-top:1px solid #666;
  }
  .tabs > div {
    display:inline-block;
    padding:10px;
    height:40px;
    line-height:40px;
    width:100px;
    border-right:1px solid #666;
    font-size:13px;
    cursor:pointer;
  }
  .tabs > .logo { font-weight: bold; }
  .tabs > .user {
    width: 200px;
    img {
      width: 30px;
      height: 30px;
      vertical-align: middle;
    }
  }
  .tabs > .project { width: 200px; }
  .panel {
    height:240px;
    overflow:hidden;
    position: relative;
    width: 100%;
    color: #eee;
    background-color: rgba(0,0,0,0.8);
  }
  &.is-drawer-open {
    bottom:0;
  }
}
