{{#if currentRepository}}
  <h1>Viewing: {{currentRepository}}</h1>
{{else}}
  <h1>Looking up current repoistory...</h1>
{{/if}}
<h3>My Repositories</h3>
<ul>
  {{#each}}
    <li>{{name}}</li>
  {{/each}}
</ul>
