@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic);

#card {
  height:500px;
  width:500px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.person {
  float:left;
  width:60px;
  height:80px;
}

.person img {
  width:50px;
  height:50px;
  display:block;
  margin:5px;
}
.person span {
  text-align:center;
  display:block;
  font-size:10px;
  width:50px;
  margin:0 5px 5px 5px;
  text-overflow:ellipsis;
  overflow: hidden;
}
