@import "compass/utilities";

body {
  padding-right: 15px;
}

#stargazers {
  @include pie-clearfix;
  position: relative;
  overflow: visible;
}

.stargazers-total {
  position: relative;
  float: left;
  width: 95px;
  height: 40px;
  margin-top: 15px;
  margin-right: 15px;
  text-align: center;
  font-size: 3.4em;
  line-height: 40px;
}

.person {
  position: relative;
  float: left;
  width: 40px;
  margin-right: 15px;

  img {
    display: block;
    width: 100%;
    padding-top: 15px;
  }
}