.stargazers-total {
  position: relative;
  float: left;
  width: (100% / 10 * 2);
  height: 55px;
  text-align: center;
  font-size: 3.4em;
  line-height: 55px;

  @media (max-width: 600px) {
    width: (100% / 8 * 2);
  }
}