@import "compass";

.stargazers-total {
  @include box-sizing(border-box);
  @include background-clip(content-box);
  position: relative;
  float: left;
  width: (100% / 10 * 2);
  height: 55px;
  padding: 7.5px 0;
  text-align: center;
  line-height: 55px;
  @media (max-width: 600px) {
    width: (100% / 8 * 2);
  }

  .number {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 2.3em;
    z-index: 1;

    &:before, &:after {
      content: "";
      position: absolute;
      width: 80px; height: 40px;
      top: 50%; margin-top: -20px;
      background: inherit;
      pointer-events: none;
      z-index: -1;
    }
    &:before {
      left: 25%;
      margin-left: -20px;
    }
    &:after {
      right: 25%;
      margin-right: -20px;
    }
  }
}