body {
	background: $gray-darker;
	color: $gray-lighter;
}

a {
	@include link-colors($gray-light, $gray-lighter);
}

h2 {
	color: $gray-lightest;
}

h3 {
	color: $gray-light;
}

.repository-header {
	.repository-name {
		border-right: 1px solid $gray-light;
	}
}
