#footer {
  position: fixed;
  bottom: -240px;
  right: 0;
  left: 0;
  font-size: 1.2em;
  color: #B3B3B3;
  background: #000000;
  z-index: 5000;
  @include transition(bottom 0.2s ease-out);

  .tooltip {
    z-index: 1;
  }

  .tabs-wrapper {
    @include pie-clearfix;
    min-width: $min-page-width;
  }

  .tabs {
    margin: 0 auto;

    > div {
      display: inline-block;
      float: left;
      height: $footer-height;
      min-width: 50px;
      padding: 0em 1.75em;
      font-size: 0.875em;
      line-height: $footer-height;
      text-align: center;
      cursor:pointer;
      border-left: 1px solid #333;
      &:last-child {
        border-right: 1px solid #333;
      }
    }

    .logo {
      font-family: 'Ubuntu', sans-serif;
      color: #CCCCCC;
      font-size: 18px;
      padding: 0;

      > a {
        display: block;
        padding: 0em 2em;
        color: inherit;
        text-decoration: none;
      }
    }



    .user {
      position: relative;

      img {
        width: 1.3em;
        height: 1.3em;
        vertical-align: text-top;
        margin-right: 0.5em;
      }

      a.logout {
        position: relative;
        padding: 7px 0;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        @include link-colors($gray, $gray-lighter);

        .icon-log-out {
          font-size: 0.9em;
          line-height: 25px;
          padding: 10px;
        }
      }
    }

    .help, .peek {
      position: relative;

      .tooltip-top {
        margin-bottom: -7px;
      }
    }

    .icon-help {
      font-size: 1.1em;
    }

    .icon-watch {
      position: relative;
      font-size: 0.8em;
      top: -1px;
    }

    .repository {
      input {
        margin-left: 0.5em;
      }
    }
  }

  .panel {
    height:240px;
    overflow: scroll;
    position: relative;
    width: 100%;
    color: #eee;
    background-color: rgba(0,0,0,0.8);
  }

  .analytics,
  .output {
    height: inherit;
  }

  &.is-drawer-open {
    bottom:0;
  }

  input[type="text"] {
    border: none;
    padding: 0.5em;
    background-color: #B3B3B3;
  }
}

.clippy {
  @include box-sizing(border-box);
  position: relative;

  .icon-clipboard {
    position: relative;
    top: -12px;
    padding-right: 5px;
  }

  .pane-preview {
    display: inline-block;
    height: 40px;
    margin-top: 10px;
    padding: 0 5px;
    border: 1px solid #333;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: none;
    text-align: left;

    > span {
      display: block;
      height: 18px;
      line-height: 18px;
    }

    .repo {
      color: #333;
    }
  }
}
