@font-face {
	font-family: 'Glazier-Icons';
	src:url("<%= manifestUrl('/Glazier-Icons.eot') %>");
	src:url("<%= manifestUrl('/Glazier-Icons.eot?#iefix') %>") format('embedded-opentype'),
		url("<%= manifestUrl('/Glazier-Icons.woff') %>") format('woff'),
		url("<%= manifestUrl('/Glazier-Icons.ttf') %>") format('truetype'),
		url("<%= manifestUrl('/Glazier-Icons.svg#Glazier-Icons') %>") format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Glazier-Icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-star, .icon-commit, .icon-tag, .icon-fork, .icon-issue, .icon-help, .icon-gear, .icon-user, .icon-github, .icon-plus, .icon-x, .icon-edit, .icon-edit-card, .icon-cards, .icon-log-out, .icon-arrow-up, .icon-arrow-down, .icon-arrow-left, .icon-arrow-right, .icon-build-status, .icon-page, .icon-text, .icon-watch, .icon-clipboard, .icon-copy, .icon-move {
	font-family: 'Glazier-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-star:before {
	content: "\e000";
}
.icon-commit:before {
	content: "\e002";
}
.icon-tag:before {
	content: "\e003";
}
.icon-fork:before {
	content: "\e004";
}
.icon-issue:before {
	content: "\e005";
}
.icon-help:before {
	content: "\e006";
}
.icon-gear:before {
	content: "\e007";
}
.icon-user:before {
	content: "\e008";
}
.icon-github:before {
	content: "\e009";
}
.icon-plus:before {
	content: "\e00a";
}
.icon-x:before {
	content: "\e00b";
}
.icon-edit:before {
	content: "\e00c";
}
.icon-edit-card:before {
	content: "\e00d";
}
.icon-cards:before {
	content: "\e00e";
}
.icon-log-out:before {
	content: "\e00f";
}
.icon-arrow-up:before {
	content: "\e010";
}
.icon-arrow-down:before {
	content: "\e011";
}
.icon-arrow-left:before {
	content: "\e012";
}
.icon-arrow-right:before {
	content: "\e013";
}
.icon-build-status:before {
	content: "\e014";
}
.icon-page:before {
	content: "\e015";
}
.icon-text:before {
	content: "\e016";
}
.icon-watch:before {
	content: "\e001";
}
.icon-clipboard:before {
	content: "\e017";
}
.icon-copy:before {
	content: "\e018";
}
.icon-move:before {
	content: "\e019";
}
