$logo-size: 1em;
$logo-speed: 2000ms;
$logo-easing: cubic-bezier(.5,0,.3,1);

$logo-color-lightest: adjust_hue(saturate(lighten($base-color, 48%), 47%), -18deg);
$logo-color-lighter: adjust_hue(saturate(lighten($base-color, 23%), 7%), -15deg);
$logo-color-light: adjust_hue(lighten($base-color, 8%), -10deg);
$logo-color-dark: adjust_hue(saturate(darken($base-color, 15%), 10%), -2deg);

.logo-css {
	display: inline-block;
	position: relative;
	width: $logo-size; height: $logo-size;
	background: transparentize($base-color, .5);
	overflow: hidden;
	vertical-align: baseline;

	.logo-static {
		width: 100%;
		height: 100%;
		@include transition(opacity 0 10ms);
	}

	span {
		position: absolute;
		z-index: 2;
	}

	%half {
		width: $logo-size;
		height: ($logo-size / 2);
		left: 0;
	}

	.logo-pane-1 {
		@extend %half;
		top: 0;
		background: $logo-color-dark;
	}

	.logo-pane-2 {
		left: 0; top: 0;
		width: 0; height: 0;
		border-top: $logo-size solid $base-color;
		border-right: $logo-size solid transparent;
	}

	.logo-pane-3 {
		@extend %half;
		bottom: 0;
		background: $logo-color-lighter;
		overflow: hidden;
	}

	.logo-pane-4 {
		left: 0; top: ($logo-size / -2);
		width: 0; height: 0;
		border-top: $logo-size solid $logo-color-light;
		border-right: $logo-size solid transparent;
	}

	.logo-pane-5 {
		right: 0; top: 0;
		width: 0; height: 0;
		border-bottom: $logo-size solid $logo-color-light;
		border-left: $logo-size solid transparent;
		z-index: 1;
	}


	&.animate {
		@include animation(rotate ($logo-speed * 4) ($logo-speed / -2) steps(4) infinite);

		.logo-static {
			@include opacity(0);
		}

		.logo-pane-1 {
			@include animation(slideRight $logo-speed $logo-easing ($logo-speed / -2) infinite);
		}

		.logo-pane-3 {
			@include animation(slideLeft $logo-speed $logo-easing ($logo-speed / -2) infinite);
		}

		.logo-pane-2 {
			@include animation(slideDown $logo-speed $logo-easing ($logo-speed / -2) infinite);
		}

		.logo-pane-4 {
			@include animation(slideDownRight $logo-speed $logo-easing ($logo-speed / -2) infinite);
		}

		.logo-pane-5 {
			@include animation(slideUp $logo-speed $logo-easing ($logo-speed / -2) infinite);
		}
	}
}

.logotype {
	display: inline-block;

	.logo, h1 {
		display: inline-block;
	}

	h1 {
		font-family: 'Ubuntu', sans-serif;
		font-size: ($logo-size * 0.9);
		color: #808080;
		margin-left: 0.2em;
	}
}

@include keyframes(slideLeft) {
	0% {
		@include transform(translateX(100%));
		@include transform(translate3d(100%,0,0));
	}
	25% {
		@include transform(translateX(0));
		@include transform(translate3d(0,0,0));
	}
	50% {
		@include transform(translateX(0));
		@include transform(translate3d(0,0,0));
	}
	75% {
		@include transform(translateX(-100%));
		@include transform(translate3d(-100%,0,0));
		visibility: hidden;
	}
	100% {
		@include transform(translateX(-100%));
		@include transform(translate3d(-100%,0,0));
		visibility: hidden;
	}
}

@include keyframes(slideRight) {
	0% {
		@include transform(translateX(-100%));
		@include transform(translate3d(-100%,0,0));
	}
	25% {
		@include transform(translateX(0));
		@include transform(translate3d(0,0,0));
	}
	50% {
		@include transform(translateX(0));
		@include transform(translate3d(0,0,0));
	}
	75% {
		@include transform(translateX(100%));
		@include transform(translate3d(100%,0,0));
		visibility: hidden;
	}
	100% {
		@include transform(translateX(100%));
		@include transform(translate3d(100%,0,0));
		visibility: hidden;
	}
}

@include keyframes(slideDown) {
	0% {
		@include transform(translateY(-100%));
		@include transform(translate3d(0,-100%,0));
		visibility: hidden;
	}
	25% {
		@include transform(translateY(-100%));
		@include transform(translate3d(0,-100%,0));
		visibility: hidden;
	}
	50% {
		@include transform(translateY(0));
		@include transform(translate3d(0,0,0));
		visibility: visible;
	}
	75% {
		@include transform(translateY(0));
		@include transform(translate3d(0,0,0));
	}
	100% {
		@include transform(translateY(-100%));
		@include transform(translate3d(0,-100%,0));
	}
}

@include keyframes(slideDownRight) {
	0% {
		@include transform(translateY(-100%));
		@include transform(translate3d(0,-100%,0));
	}
	25% {
		@include transform(translateY(-100%));
		@include transform(translate3d(0,-100%,0));
	}
	50% {
		@include transform(translateY(0));
		@include transform(translate3d(0,0,0));
	}
	75% {
		@include transform(translateX(100%));
		@include transform(translate3d(100%,0,0));
	}
	100% {
		@include transform(translateX(100%));
		@include transform(translate3d(100%,0,0));
	}
}

@include keyframes(slideUp) {
	0% {
		@include transform(translateY(100%));
		@include transform(translate3d(0,100%,0));
		visibility: hidden;
	}
	25% {
		@include transform(translateY(100%));
		@include transform(translate3d(0,100%,0));
		visibility: hidden;
	}
	50% {
		@include transform(translateY(0));
		@include transform(translate3d(0,0,0));
		visibility: visible;
	}
	75% {
		@include transform(translateY(0));
		@include transform(translate3d(0,0,0));
	}
	100% {
		@include transform(translateY(100%));
		@include transform(translate3d(0,100%,0));
	}
}

@include keyframes(rotate) {
	0% {
		@include transform(rotate(0));
	}
	100% {
		@include transform(rotate(360deg));
	}
}
