@mixin pseudo-overlay() {
  &:before {
    content: "";
    @include stretch;
    position: fixed;
    background: inherit;
    z-index: 999;
  }
}

@mixin scroll-after($height) {
  &:after {
    content: "";
    position: absolute;
    top: 100%; height: $height;
    left: 0; right: 0;
  }
}

iframe {
  width: 100%;
  height: 100%;

  overflow:hidden;
  border:0;
}

.panes {
  @include pie-clearfix;
  position: absolute;
  left: 0; right: 0;
  top: $header-height;
  bottom: $footer-height;
  padding-left: $page-padding;
}

.pane-wrapper {
  @include box-sizing(border-box);
  position: relative;
  float: left;
  margin-bottom: $page-padding;
  padding-right: $page-padding;
  width: 50%;
  @include background-clip(content-box);
  @include transition(background 500ms);

  &.full-size {
    position: static;
    height: $min-card-height;
    background-color: transparentize(black, .75);
    @include pseudo-overlay;

    .pane {
      @include box-sizing(content-box);
      @include backface-visibility(hidden);
      position: absolute;
      left: 10%; right: 10%;
      top: $page-padding; bottom: $header-height - $footer-height + $page-padding;
      height: auto;
      max-width: ($min-card-width * 3);
      margin: auto;
      z-index: 1000;
      @include scroll-after($footer-height + $page-padding);

      @media (max-height: ($header-height * 2) + ($page-padding * 2) + $min-card-height + $card-footer-height) {
        bottom: auto;
        height: $min-card-height;
        iframe {
          min-height: $min-card-height;
        }
      }
    }
  }

  @for $i from 3 to 6 {
    @media (min-width: ($min-card-width * $i)) {
      width: (100% / $i);
    }
  }
}

.pane {
  @include box-sizing(border-box);
  position: relative;

  height: $min-card-height;
  padding-bottom: $card-footer-height;

  background-color: #FFFFFF;

  &.transition-position {
    @include transition(left 500ms, right 500ms, top 500ms, bottom 500ms);
    @include transition-timing-function(ease);
  }
}

.pane-footer {
  position: absolute;
  left: 0; right: 0;
  height: $card-footer-height;
  bottom: 0;
  color: #999999;
  background: #e6e6e6;

  a {
    line-height: 35px;
    padding: 0 0.5em;
    float: right;
  }
}

.hidden-pane {
  padding: 0;
  border: 0 none;
  height: 0;
  width: 0;
}
