h1 { font-size: 45px; color: #4d4d4d; line-height: 1.51em }
h2 { font-size: 34px; color: #4d4d4d; line-height: 1.51em }
h3 { font-size: 20px; color: #666666; line-height: 1.51em }
h4 { font-size: 18px; color: #808080; line-height: 1.51em }
h5 { font-size: 16px; color: #4B4B4B; line-height: 1.51em }
h6 { font-size: 14px; color: #4B4B4B; line-height: 1.51em }

p { }

a { }
