$min-page-width: 1024px;
$max-page-width: 1440px;
$page-padding: 25px;

$base-color: #1795b5;
$base-color-lightest: lighten($base-color, 50%);
$base-color-lighter: lighten($base-color, 30%);
$base-color-light: lighten($base-color, 10%);
$base-color-dark: darken($base-color, 10%);

$gray: #666666;
$gray-lightest: #f2f2f2;
$gray-lighter: #b3b3b3;
$gray-light: #808080;
$gray-dark: #4d4d4d;
$gray-darker: #333333;

$tooltip-bg: $gray-dark;
