@import "base";

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #f2f2f2;
  font-size: 13px;
  line-height: 1.51em;
  color: #808080;
}

iframe {
  width: 100%;
  height: 100%;

  overflow:hidden;
  border:0;overflow:hidden;
}

.panes {
  @include clearfix;
  padding-left: $page-padding;
}

.pane-wrapper {
  @include box-sizing(border-box);
  padding-right: $page-padding;
  width: 50%;
  float: left;
}

.pane {
  @include box-sizing(border-box);
  position: relative;
  overflow: hidden;

  height: 260px;
  padding-bottom: 35px;

  background-color: #FFFFFF;
}

.pane-footer {
  background: #e6e6e6;
  color: #999999;
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0;
}

.hidden-pane {
  padding: 0;
  border: 0 none;
  height: 0;
  width: 0;
}

.loading {
  position: absolute;
  width: 300px;
  top: 50%;
  text-align: center;
  line-height: 50px;
  margin-top: -45px;
  left: 50%;
  margin-left: -170px;
  font-size: 36px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 2px;
  padding: 20px;
}

#header {
  position: relative;
  border-bottom: 1px solid black;
}

#footer {
  position: fixed;
  z-index: 100;
  bottom: -240px;
  right: 0;
  left: 0;
  font-size: 16px;

  background: #1a1a1a;

  box-shadow: 0px 0px 5px #262626;
  -webkit-transition: bottom 0.2s ease-out;

  color: #B3B3B3;


  .tabs {
    display: table;
    margin: 0 auto;
    min-width: 960px;
  }

  .tabs > div {
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0em 1.5em;
    cursor:pointer;
    display: table-cell;
    border-left: 1px solid #333;
  }

  .tabs > div:last-child {
    border-right: 1px solid #333;
  }

  .tabs > .logo {
    font-weight: bold;
    background: url("<%= manifestUrl('/glazier.png') %>") no-repeat center center;
    width: 151px;
    min-height: 50px;
    text-indent: -9999em;
  }

  .tabs > .user {
    position: relative;
    img {
      width: 30px;
      height: 30px;
      vertical-align: middle;
      margin-right: 0.5em;
    }
    button.logout {
      left: 0;
      position: absolute;
      height: 50px;
      right: 0;
      top: -50px;
      margin: 0;
      padding: 0;
      background: #1a1a1a;
      box-shadow: 0px 0px 5px #262626;
      color: #B3B3B3;
      font-size: 16px;
      border: 1px solid #333;
      cursor:pointer;
    }
  }

  .tabs > .repository input{
    margin-left: 0.5em;
  }

  .panel {
    height:240px;
    overflow: scroll;
    position: relative;
    width: 100%;
    color: #eee;
    background-color: rgba(0,0,0,0.8);
  }
  &.is-drawer-open {
    bottom:0;
  }
}

.repository-sidebar {
  @include clearfix;

  padding: $page-padding;
  img {
    width: 45px;
    margin-right: $page-padding;
    float: left;
  }
  h2 {
    color: #4d4d4d;
    font-size: 22px;
  }
}

#dashboards {
  padding: 20px 20px 50px;
}
