@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic);

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #DFF4F4;
  font-size: 13px;
  line-height: 1.51em;
  color: #808080;
  padding: 1em;
}

h1 { font-size: 45px; color: #4d4d4d; line-height: 1.51em }
h2 { font-size: 34px; color: #4d4d4d; line-height: 1.51em }
h3 { font-size: 20px; color: #666666; line-height: 1.51em }
h4 { font-size: 18px; color: #808080; line-height: 1.51em }
h5 { font-size: 16px; color: #4B4B4B; line-height: 1.51em }
h6 { font-size: 14px; color: #4B4B4B; line-height: 1.51em }

p { }

a { }

iframe {
  width: 100%;
  height: 100%;

  overflow:hidden;
  border:0;overflow:hidden;
}

/*!
* PocketGrid 0.1.0
* Copyright 2013 Arnaud Leray
* MIT License
*/

.block, .block:after, .block:before,
.block-group, .block-group:after, .block-group:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.block-group {
  clear: both;
  *zoom: 1;
}
.block-group:before,
.block-group:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}

.block-group > .block-group {
  float: left;
  margin: 0;
  clear: none;
}

.block {
  float: left;
  width: 100%;
}

/* Gutters: can be removed if you don't want gutters */
.block-group {
  margin: -.5em;
}
.block {
  padding: .75em;
}
.panes {
  width: 80%;
  float: left;
  padding: 3em;
}
.pane-wrapper {
  width: 50%;
}

.pane {
  position: relative;
  overflow: hidden;

  height: 260px;

  background-color: #DFF4F4;
  border: 1px solid #B4C8C8;

  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.165);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.165);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.165);
}

.pane-footer {
  background: #D6E3E2;
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0;
  opacity: 0.75;
  border-top: 1px solid #D3D3D3;
}

.hidden-pane {
  padding: 0;
  border: 0 none;
  height: 0;
  width: 0;
}

.loading {
  position: absolute;
  width: 300px;
  top: 50%;
  text-align: center;
  line-height: 50px;
  margin-top: -45px;
  left: 50%;
  margin-left: -170px;
  font-size: 36px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 2px;
  padding: 20px;
}

#header {
  position: relative;
  border-bottom: 1px solid black;
}

#footer {
  position: fixed;
  z-index: 100;
  bottom: -240px;
  right: 0;
  left: 0;
  font-size: 16px;

  background: #1a1a1a;

  box-shadow: 0px 0px 5px #262626;
  -webkit-transition: bottom 0.2s ease-out;

  color: #B3B3B3;


  .tabs {
    display: table;
    margin: 0 auto;
    min-width: 960px;
  }

  .tabs > div {
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0em 1.5em;
    cursor:pointer;
    display: table-cell;
    border-left: 1px solid #333;
  }

  .tabs > div:last-child {
    border-right: 1px solid #333;
  }

  .tabs > .logo {
    font-weight: bold;
    background: url("<%= manifestUrl('/glazier.png') %>") no-repeat center center;
    width: 151px;
    min-height: 50px;
    text-indent: -9999em;
  }

  .tabs > .user {
    position: relative;
    img {
      width: 30px;
      height: 30px;
      vertical-align: middle;
      margin-right: 0.5em;
    }
    button.logout {
      left: 0;
      position: absolute;
      height: 50px;
      right: 0;
      top: -50px;
      margin: 0;
      padding: 0;
      background: #1a1a1a;
      box-shadow: 0px 0px 5px #262626;
      color: #B3B3B3;
      font-size: 16px;
      border: 1px solid #333;
      cursor:pointer;
    }
  }

  .tabs > .repository input{
    margin-left: 0.5em;
  }

  .panel {
    height:240px;
    overflow: scroll;
    position: relative;
    width: 100%;
    color: #eee;
    background-color: rgba(0,0,0,0.8);
  }
  &.is-drawer-open {
    bottom:0;
  }
}

#repository-sidebar-block {
  width: 19%;
  height: 500px;
}

.repository-sidebar {
  padding-left: 6px;
  label {
    font-weight: bold;
  }
}
