@import "base";
@import "icons";
@import "logo";
@import "panes";
@import "modals";
@import "footer";

html {
  @include box-sizing(border-box);
  min-height: 100%;
}

body {
  min-width: $min-page-width;
  min-height: 100%;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  line-height: 1.51em;
  background: $gray-lightest;
  color: $gray-light;


  @include box-sizing(border-box);
  position: absolute;
  top: 0;
  left: 0; right: 0;
  padding-bottom: $footer-height;

  @extend body.theme-dark;
}

#loading {
  p {
    position: absolute;
    width: 300px;
    top: 50%;
    text-align: center;
    line-height: 50px;
    margin-top: -45px;
    left: 50%;
    margin-left: -170px;
    font-size: 36px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 2px;
    padding: 20px;
    display:none;
  }
}

#header {
  position: relative;
  border-bottom: 1px solid black;
}

#content {
  @include box-sizing(border-box);
  position: absolute;
  top: 0; bottom: $header-height + $footer-height;
  left: 0; right: 0;
  @include transition(500ms);

  &.modal-is-visible {
    @include transform(scale(0.9));
  }
}

#repository-header-block {
  position: relative;
}

.repository-header {
  @include clearfix;
  @include box-sizing(border-box);

  padding: $page-padding;
  padding-bottom: $page-padding * 2;
  white-space: nowrap;

  height: 125px;

  > * {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }

  img {
    width: 43px;
    margin-right: $page-padding;
  }

  h2 {
    font-size: 1.7em;
    line-height: 1;
    a {
      color: inherit !important;
    }
  }

  h3 {
    font-size: 1.1em;
    line-height: 1;
    margin-top: 8px;
  }

  .repository-name, .repository-info {
    height: 50px;
  }

  .repository-name {
    min-width: 120px;
    margin-right: 25px;
    border-right: 1px solid hsl(0, 0%, 84%);

    h2, h3 {
      margin-right: $page-padding;
    }
  }

  .repository-description {
    font-size: 1.15em;
    line-height: 1.8;
  }

  .repository-link {
    line-height: 1;
    margin-top: 4px;
  }
}
.dashboard-card-controls {
  position: absolute;
  text-align: right;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  right: 25px;
  bottom: 10px;
  white-space: nowrap;
  height: 40px;
  width:200px;
}

#dashboards {
  padding: 20px 20px 50px;
}

.reorder-panes {
  .sortable-list {
    @include clearfix;
    list-style: none;
    padding-right: 1em !important;
    padding-bottom: 1em !important;
    li {
      @include box-sizing(border-box);
      float: left;
      width: (100% / 2);
      padding-right: 1em;
      margin-bottom: 1em;
      height: ($min-card-height / 2);
      line-height: ($min-card-height / 2);
      cursor: move;
      text-align: center;
      color: $gray-darker;
      background-color: $gray-lighter;
      @include background-clip(content-box);
      @include user-select(none);
      &.sortable-placeholder {
        background-color: transparentize($gray-lighter, .75);
      }
      &.sortable-dragging {
        opacity:0.9;
      }

      @for $i from 3 to 6 {
        @media (min-width: ($min-card-width * $i)) {
          width: (100% / $i);
        }
      }
    }
  }
}

.pane-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  color: gray;
  text-align:center;
  margin-top:125px;
}

.toolbar-items {
  padding-left: 0.8em;

  float: left;

  span {
    line-height: 35px;
    margin-right: 0.5em;
    display: inline-block;
  }
}

@import "themes";
