@import "base";

html, body {
  overflow: hidden;
  height: 100%;
}

body {
  overflow-y: auto;
}

body {
	@include box-sizing(border-box);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  line-height: 1.51em;
  color: #808080;
  padding: 0 2.3em;
  position: relative;

  &:after {
    @include stretch;
    position: fixed;
    content: "";
    top: auto;
    height: 15px;
    pointer-events: none;
    @include background-image(linear-gradient(transparentize(white, 1), transparentize(white, 0.4)));
  }
}

p { }

a { }

#card {
}

#card > div {
  padding-bottom: 60px;
}
