@import "base";
@import "logo";
@import "footer";

body {
  @include box-sizing(border-box);
  min-width: $min-page-width;
  max-width: $max-page-width;
  margin: auto;
  padding-bottom: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  background: $gray-lightest;
  font-size: 13px;
  line-height: 1.51em;
  color: $gray-light;
}

iframe {
  width: 100%;
  height: 100%;

  overflow:hidden;
  border:0;
}

.panes {
  @include clearfix;
  padding-left: $page-padding;
}

.pane-wrapper {
  @include box-sizing(border-box);
  float: left;
  margin-bottom: $page-padding;
  padding-right: $page-padding;
  width: 50%;
}

.pane {
  @include box-sizing(border-box);
  position: relative;
  overflow: hidden;

  height: 260px;
  padding-bottom: 35px;

  background-color: #FFFFFF;
}

.pane-footer {
  background: #e6e6e6;
  color: #999999;
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0;
}

.hidden-pane {
  padding: 0;
  border: 0 none;
  height: 0;
  width: 0;
}

.loading {
  position: absolute;
  width: 300px;
  top: 50%;
  text-align: center;
  line-height: 50px;
  margin-top: -45px;
  left: 50%;
  margin-left: -170px;
  font-size: 36px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 2px;
  padding: 20px;
}

#header {
  position: relative;
  border-bottom: 1px solid black;
}

.repository-sidebar {
  @include clearfix;

  padding: $page-padding;
  padding-bottom: $page-padding * 2;
  white-space: nowrap;

  > * {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }

  img {
    width: 43px;
    margin-right: $page-padding;
  }

  h2 {
    font-size: 1.7em;
    line-height: 1;
  }

  h3 {
    font-size: 1.1em;
    line-height: 1;
    margin-top: 8px;
  }

  .repository-name, .repository-info {
    height: 50px;
  }

  .repository-name {
    min-width: 120px;
    margin-right: 25px;
    border-right: 1px solid hsl(0, 0%, 84%);

    h2, h3 {
      margin-right: $page-padding;
    }
  }

  .repository-description {
    font-size: 1.15em;
    line-height: 1.8;
  }

  .repository-link {
    line-height: 1;
    margin-top: 4px;
  }
}

#dashboards {
  padding: 20px 20px 50px;
}
