@import "base";
@import "icons";
@import "logo";
@import "panes";
@import "footer";

html {
  @include box-sizing(border-box);
  min-height: 100%;
}

body {
  min-width: $min-page-width;
  min-height: 100%;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  background: $gray-lightest;
  font-size: 13px;
  line-height: 1.51em;
  color: $gray-light;


  @include box-sizing(border-box);
  position: absolute;
  top: 0;
  left: 0; right: 0;
  padding-bottom: $footer-height;
}

.loading {
  position: absolute;
  width: 300px;
  top: 50%;
  text-align: center;
  line-height: 50px;
  margin-top: -45px;
  left: 50%;
  margin-left: -170px;
  font-size: 36px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 2px;
  padding: 20px;
}

#header {
  position: relative;
  border-bottom: 1px solid black;
}

#repository-header-block {
  position: relative;
}
.repository-header {
  @include clearfix;
  @include box-sizing(border-box);

  padding: $page-padding;
  padding-bottom: $page-padding * 2;
  white-space: nowrap;

  height: 125px;

  > * {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }

  img {
    width: 43px;
    margin-right: $page-padding;
  }

  h2 {
    font-size: 1.7em;
    line-height: 1;
    a {
      color: inherit;
    }
  }

  h3 {
    font-size: 1.1em;
    line-height: 1;
    margin-top: 8px;
  }

  .repository-name, .repository-info {
    height: 50px;
  }

  .repository-name {
    min-width: 120px;
    margin-right: 25px;
    border-right: 1px solid hsl(0, 0%, 84%);

    h2, h3 {
      margin-right: $page-padding;
    }
  }

  .repository-description {
    font-size: 1.15em;
    line-height: 1.8;
  }

  .repository-link {
    line-height: 1;
    margin-top: 4px;
  }
}
.dashboard-card-controls {
  position: absolute;
  text-align: right;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  right: 25px;
  bottom: 10px;
  white-space: nowrap;
  height: 40px;
  width:200px;
}

#dashboards {
  padding: 20px 20px 50px;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 7000;
  visibility: hidden;

  // applying translateX/Y transforms makes drag-drop ghost image in the reorder pane
  // appear offscreen.
  // @include transform(translateX(-50%) translateY(-50%));
  margin-left: -25%;
  margin-top: -25%;

  #modal-content {
    background: $gray-lightest;
    font-size: 13px;
    line-height: 1.51em;
    color: $gray-light;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    opacity: 0;
    min-height: 240px;
    @include transform(translateY(20%));
    @include transition(all 0.3s);
  }
  &.is-visible {
    visibility: visible;
    #modal-content {
      @include transform(translateY(0));
      opacity: 1;
    }
  }
}
#modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 6000;
  opacity: 0;
  background: rgba(0,0,0,0.75);
  @include transition(opacity 0.3s);
  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
}
.reorder-panes {
  .sortable-list {
    li {
      list-style: none;
      padding: 5px;
      height: 30px;
      width: 300px;
      cursor: move;
      background-color: $gray-lighter;
      color: $gray-darker;
      border: 1px solid $gray-darker;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &.sortable-placeholder {
        border-style: dashed;
        background: none;
      }
      &.sortable-dragging {
        opacity:0.9;
      }
    }
  }
}
@import "dark";
