@import "base";
@import "icons";
@import "list";

html, body {
  overflow: hidden;
  height: 100%;
}

body {
  overflow-y: auto;
}

body {
	@include box-sizing(border-box);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  line-height: 1.51em;
  color: $gray-light;
  padding: 0 30px 30px;
  position: relative;

  &:after {
    position: fixed;
    content: "";
    bottom: 0;
    left: 0; right: 0;
    height: 15px;
    pointer-events: none;
    @include background-image(linear-gradient(transparentize(white, 1), transparentize(white, 0.4)));
  }
}

#card {
  h3:first-of-type {
    color: $base-color;
    font-size: 1.7em;
    margin-top: 15px;
  }

  .people {
    @include pie-clearfix;
    position: relative;
    overflow: visible;
  }

  .person {
    position: relative;
    float: left;
    width: (100% / 10);
    height: 40px;
    padding-top: 15px;
    text-align: center;
    @media (max-width: 600px) {
      width: (100% / 8);
    }

    img {
      @include absolute-center(40px);
    }
  }
}
