<div class="logo-css">
  <span class="logo-pane-1"></span>
  <span class="logo-pane-2"></span>
  <span class="logo-pane-3">
    <span class="logo-pane-4"></span>
  </span>
  <span class="logo-pane-5"></span>
</div>
