<div class="modal-header">
  <h3>Add a Pane</h3>
</div>
<div class="modal-main">
  {{#each addablePaneTypes}}
    <div><a href="" {{action "addPane" this}}>{{displayName}}</a></div>
  {{/each}}

  {{#if paneTypes.isUpdating}}
    <div>Loading Panes...</div>
  {{/if}}

  <button class="modal-confirm" {{action "hideModal"}}>Done</button>
</div>
