<h3>Add a Pane</h3>

{{#each addablePaneTypes}}
  <div><a href="" {{action "addPane" this}}>{{manifest.displayName}}</a></div>
{{/each}}

{{#if paneTypes.isUpdating}}
  <div>Loading Panes...</div>
{{/if}}
