<div id="repository-header-block" class="block">
  {{render "repository_header" }}
  {{render "dashboard_controls" }}
</div>
<div class="panes block-group">
  {{#unless isPerformingReorder}}
    {{render "panes" panes}}
  {{/unless}}
</div>
