<div class="block-group">
  <div class="block" style="width:19%;height:500px"></div>
  <div class="panes block-group" style="width:80%">
  {{#each panes}}
    <div class='pane-wrapper block'>{{view Glazier.PaneView contentBinding=this}}</div>
  {{/each}}
  </div>
  <div class="block" style="width:1%;height:500px"></div>
</div>
