{{#if isAdmin}}
  <div class="dashboard-card-controls">
    {{#if canAddPanes}}
      <button {{action "showAddPane"}}>Add Pane</button>
    {{/if}}
    {{#if canReorderPanes}}
      <button {{action "showReorderPanes"}}>Reorder Panes</button>
    {{/if}}
  </div>
{{/if}}
