<div class="tabs-wrapper">
  <div class="tabs">
    <div class="logo">
      {{#linkTo "index"}}
        {{partial "logo"}} glazier.io
      {{/linkTo}}
    </div>
    {{render user}}
    {{render repository}}
    <div class="help">
      Help
    </div>
    <div class="peek" {{action toggleAnalyticsDrawer}}>
      ConductorPeek
    </div>
  </div>
</div>
<div class="panel">
  <div class="analytics">
    <pre class="output"></pre>
  </div>
</div>
