<div class="tabs-wrapper">
  <div class="tabs">
    <div class="logo">
      {{#link-to "index"}}
        {{partial "logo"}} glazier.io
      {{/link-to}}
    </div>
    {{render "user"}}
    <div class="help">
      <span class="icon-help" data-tooltip="true"></span>
      <span class="tooltip tooltip-top">Help</span>
    </div>
    <div class="peek" {{action "toggleAnalyticsDrawer"}}>
      <span class="icon-watch" data-tooltip="true"></span>
      <span class="tooltip tooltip-top">ConductorPeek</span>
    </div>
    {{render "clipboard"}}
  </div>
</div>
<div class="panel">
  <div class="analytics">
    <pre class="output"></pre>
  </div>
</div>
