<div class='not-found'>
  <div class='logo-box'><div class="logo-css">
      <span class="logo-pane-1"></span>
      <span class="logo-pane-2"></span>
      <span class="logo-pane-3">
        <span class="logo-pane-4"></span>
      </span>
      <span class="logo-pane-5"></span>
    </div>
    <div class='face-bar mouth'></div>
    <div class='face-bar left-eye'></div>
    <div class='face-bar right-eye'></div>
  </div>
  <div class='code'>404</div>
  <div class='message'>
    Whatever you&rsquo;re looking for isn&rsquo;t here.
    <br/>
    Sorry mate!
  </div>
  <button class='light' {{action "navigateToHome"}}>Return Home</button>
</div>
