{{#if allowOauth}}
  <button {{action approve}}>Approve Oauth</button>
  <button {{action decline}}>Decline Oauth</button>
{{else}}
  A pane has requested Oauth, but you must log in to Glazier first.
{{/if}}
