{{#if view.card}}
  <div class="pane">
    <div class="pane-footer">
      {{#if controller.isAdmin}}
        <a href="" {{action "removePane" this}}> remove </a>
      {{/if}}
    </div>
    <!-- appended sandbox -->
  </div>
{{/if}}
