<div class="pane">
  {{#unless isHidden}}
    {{view 'paneFooter'}}
  {{/unless}}

  {{#if card}}
    {{view 'card' class="card-wrapper"}}
  {{/if}}

  {{view 'paneLoading' isLoadedBinding=cardIsLoaded}}
</div>

