<h3>Reorder Panes</h3>

{{! list items are added by the view}}
<ol class="sortable-list">
</ol>

<div class="modal-footer">
  <button {{action hideModal}}>Cancel</button>
  <button {{action applyNewOrder target="view"}}>Save</button>
</div>
